<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% blog_title = 'Disparate Interests' %>
  <title>
      <%= '[d] ' if development? %>
      <%= blog_title %>
      <%= ' - ' + current_article.title unless current_article.nil? %>
  </title>
  <%= stylesheet_link_tag "all" %>
  <%= feed_tag :atom, "#{blog('scribbles').options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
</head>

<body>

<div id="wrapper">

    <header id="top-header">
        <%= partial "partials/nav" %>

        <div id="titlespace">
            <h2>Disparate Interests</h2>
        </div>
    </header>


    <%= partial "partials/top_border" %>

    <div id="front-main" role="main">
        <section class="content">
            <% if current_article %>
                <div id="article-title">
                    <h2> <%= current_article.title %> </h2>
                </div>
            <% end %>

            <div id="article">
                <%= yield %>
            </div>
            <div class="stop-float"></div>
        </section>
    </div>

    <%= partial "partials/footer" %>

    <% if false %> <!-- begin comment -->
    <aside>
        <h2>Recent Articles</h2>
        <!-- dont show drafts or 'special' articles -->
        <ol>
        <% blog('scribbles').articles.each_with_index do |article, i| %>
          <% if !article.tags.any? { |t| ["draft", "special"].include? t } %>
              <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
          <% end %>
        <% end %>
        </ol>
    </aside>
    <!-- end comment --> <% end %>

    </div><!-- #wrapper -->
</body>
</html>
