<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% blog_title = 'SFA BLG' %>
  <title>
      <%= '[dev] ' if development? %>
      <%= blog_title %> <%= ' - ' + current_article.title unless current_article.nil? %>
  </title>
  <%= stylesheet_link_tag "all" %> 
  <%= feed_tag :atom, "#{blog('scribbles').options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  <%= stylesheet_link_tag 'assets/normalize', media: 'all' %>
</head>

<body>
    <nav class="top-bar">
      <%= link_to 'Stefan Armijo', '/' %>
      <%= link_to 'blog', '/blog' %>
      <%= link_to 'notes', '/notes' %>
      <%= link_to 'projects', '/projects' %>
      <%= link_to 'about', '/about' %>
    </nav>
 
    <div id="main" role="main">
        <!-- Render '<NoteSubject> Related Notes' at the top of each notes page -->
            <% if is_note? %>
                <h2 class="article-title"> <%= current_article.title + " Notes" %> </h2>
            <% elsif is_blog_article? %>
                <h2 class="article-title"> <%= current_article.title %> </h2>
            <% end %>

        <!-- Use Nokogiri to build links in notes -->
        <!-- if this is a notes 'blog' article find all text surounded with '** **' -->
        <!-- I need to look in the note.html.markdown doc or treat is as a link? -->

        <section class="content">
            <%= yield %>
        </section>
    </div>
 
 
<% if is_blog_article? %>   
<% end %>
    
    
<!-- sidebar for notes. pull '<strong> elements (note sections) from article body -->
<% if is_note? %>
    <% blog('notes').articles.each do |article| %>
        <% if article.title == current_article.title %>
            <% note_doc = article.body %>
            <ul>
            <% doc = Nokogiri::HTML(note_doc) %>
            <% doc.css('strong').each do |link| %> 
                <li> <%= link %> </li> 
            <% end %>
            </ul>
        <% end %>
    <% end %>
<% end %>

  <aside>
    <h2>Recent Articles</h2>
    <ol>
        <% blog('scribbles').articles[0...10].each do |article| %>
            <% if !["Welcome", "The Jargon File", "Projects"].include? article.title %>
                <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
            <% end %>
      <% end %>
    </ol>
  </aside>
</body>
</html>
