<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% blog_title = 'Disparate Interests' %>
  <title>
      <%= '[dev] ' if development? %>
      <%= blog_title %> <%= ' - ' + current_article.title unless current_article.nil? %>
  </title>
  <%= stylesheet_link_tag "all" %>
  <%= feed_tag :atom, "#{blog('scribbles').options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  <%= stylesheet_link_tag 'assets/normalize', media: 'all' %>
</head>

<body>

    <%= partial "partials/nav" %>

    <div id="main" role="main">
        <!-- Render '<NoteSubject> Notes' at the top of each notes page -->
        <% if is_note? %>
            <h2 class="article-title"> <%= current_article.title + " Notes" %> </h2>
        <% end %>

        <!-- Use Nokogiri to build links in notes -->
        <!-- if this is a notes 'blog' article find all text surounded with '** **' -->
        <!-- I need to look in the note.html.markdown doc or treat is as a link? -->

        <!-- inject href tags around sections in  note doc -->
        <% if false %> <!-- BEGIN COMMENT -->
        <section class="content">
            <% @doc = Nokogiri::HTML::DocumentFragment.parse(yield) %>
            <%# @doc %>
            <% h2 = @doc.at_css "strong" %>
            <% h2.name = "is this yielded doc changed?" %>
            <%= @doc.to_html %>
        </section>
        <% end %> <!-- END COMMENT -->
        
        <section class="content">
            <% if is_note? %>
                <% ndoc = current_article.body %>
                <% doc = Nokogiri::HTML::DocumentFragment.parse(ndoc) %>
                <% doc.css('strong').wrap("<a name='temp'></a>") %>
                <% nodes = doc.css('a') %>
                <% nodes.each do |node| %>
                    <% if node.attributes['name'] %>
                        <% node.attributes['name'].value = node.text %>
                    <% end %>
                <% end %>
                <%= doc.to_html %>
            <% end %>
        </section>

    <!-- Bad to convert modified Nokogiri obj to HTML and render instead of yeilding? -->
        <section class="content">
            <%# yield %>
        </section>
    </div>


    <!-- sidebar for notes. pull '<strong> elements (note sections) from article body -->
    <% if is_note? %>
        <% ndoc = current_article.body %>
        <ul>
        <% doc = Nokogiri::HTML(ndoc).css('strong').each do |link| %>
            <li><a href="#<%= link.text %>"> <%= link %> </a></li>
        <% end %>
        </ul>
    <% end %>

</body>
</html>
