<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% blog_title = 'Disparate Interests' %>
  <title>
      <%= '[d] ' if development? %>
      <%= blog_title %>
      <%= ' - ' + current_article.title unless current_article.nil? %>
  </title>
  <%= stylesheet_link_tag "all" %>
  <%= feed_tag :atom, "#{blog('scribbles').options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
</head>

<body>

    <%= partial "partials/nav" %>

    <section id="titlespace">
        <% if current_article %>
            <h2 id="article-title"> <%= current_article.title + " Notes" %> </h2>
        <% end %>
    </section>

    <%= partial "partials/top_border" %>

    <div id="notes-main" role="main">
        <!-- Render '<Subject> Notes' at the top of each notes page -->
    <!-- notes sidebar. pull <strong> elements (sections) from body -->
    <div id="notesnav">
    <% if is_note? %>
        <% ndoc = current_article.body %>
        <ul>
        <% nlist = Nokogiri::HTML(ndoc).css('strong').sort_by { |l| l.text } %>
        <% nlist.each do |link| %>
            <li><a href="#<%= link.text %>"> <%= link %> </a></li>
            <br>
        <% end %>
        </ul>
    <% end %>
    </div>

        <!-- Use Nokogiri to build links in notes -->
        <!-- wrap 'note section' with '<a name="section"></a> --> 
        <section class="content" id="notebody">
            <% if is_note? %>
                <% ndoc = current_article.body %>
                <% doc = Nokogiri::HTML::DocumentFragment.parse(ndoc) %>
                <% doc.css('strong').wrap("<a name='temp'></a>") %>
                <% nodes = doc.css('a') %>
                <% nodes.each do |node| %>
                    <% if node.attributes['name'] %>
                        <% node.attributes['name'].value = node.text %>
                    <% end %>
                <% end %>
                <%= doc.to_html %>
            <% end %>
                hi im in content class.
        </section>

        <!-- Bad to convert modified Nokogiri obj to HTML and render instead of yeilding? No, render the HTML doc created above - 'yield' will display the original doc -->

        <!-- <section class="content"> -->
            <%#= yield %>
        <!-- </section> -->
    </div>

    <%= partial "partials/footer" %>

</body>
</html>
