
<header id="top-nav">
    <nav id="home">
        <%= link_to 'STFN', '/' %>
    </nav>
    <nav id="nav-content">
        <%= link_to 'blog', '/blog' %>
        <%= link_to 'notes', '/notes' %>
        <%= link_to 'projects', '/projects' %>
        <%= link_to 'about', '/about' %>
        <%= link_to 'D_R_A_F_T_S', '/drafts' if development? %>
    </nav>
</header>
