
<nav id="top-nav">
    <div id="home">
        <%= link_to 'STFN', '/' %>
    </div>
    <div id="nav-content">
        <%= link_to 'blog', '/blog' %>
        <%= link_to 'notes', '/notes' %>
        <%= link_to 'projects', '/projects' %>
        <%= link_to 'about', '/about' %>
        <%= link_to 'D_R_A_F_T_S', '/drafts' if development? %>
    </div>
</nav>
