---
pageable: true
per_page: 10
---

<% if paginate && num_pages > 10 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% blog('scribbles').articles.each do |article| %>
    <% if article.title == "Welcome" %>
        <%= article.body %>
    <% end %>
<% end %>

<% if false %><!-- begin comment -->
<% blog('scribbles').articles.each_with_index do |article, i| %>
    <% if i ==0 %>
  <h3>
      <%= link_to article.title, article %>
      <span><%= article.date.strftime('%b %e') %></span>
  </h3>
  <p>
  <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
       <%= article.summary(250) %>
  </p>
   <% end %>
<% end %>
   <% end %><!-- end comment -->


   <% if false %> <!-- begin comment -->
<% blog('notes').articles.each_with_index do |article, i| %>
    <% if i ==0 %>
  <h3>
      <%= link_to article.title, article %>
      <span><%= article.date.strftime('%b %e') %></span>
  </h3>
  <p>
       <%#= article.summary(250) %>
  </p>
   <% end %>
<% end %>
<% end %> <!-- end comment -->

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
