---
pageable: true
per_page: 10
---

<% if paginate && num_pages > 10 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<div id="frontarticles">
    <h2>Recent Articles</h2>
<% blog('scribbles').articles.each_with_index do |article, i| %>
    <% if !article.tags.any? { |t| ["draft", "special"].include? t } %>
        <h3><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h3>

        <%= article.summary(250) %>

    <% end %>
<% end %>
</div>

<div id="frontnotes">
    <h2>Recent Notes</h2>
<% blog('notes').articles.each_with_index do |article, i| %>
    <% if i < 8 %>
    <h3> <%= link_to article.title, article %>
      <!-- don't include date for now -->
      <!-- <span><%#= article.date.strftime('%b %e') %></span> -->
    </h3>
   <% end %>
<% end %>
</div>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
