---
pageable: true
per_page: 10
---
<h1>Website splashpage. I want links to recent articles and most recent notes. I think.</h1>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <h3>
      <%= link_to article.title, article %>
      <span><%= article.date.strftime('%b %e') %></span>
  </h3>
  <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
<h1>after all? Everything above is yielded.</h1>
