---
page_title: Stefan's projects
pageable: false
per_page: 10
---

<% require 'open-uri' %>


<% blog('scribbles').articles.each do |article| %>
    <% if article.title == "Projects" %>
        <p> <%= article.body %> </p>
        <% break %>
    <% end %>
<% end %>

<section class='exercises'>
    <h2> Code exercises </h2>
    <p> Exercises completed on <%= link_to 'CodeEval', 'https://www.codeeval.com/' %> and hosted on <%= link_to 'Github', 'https://github.com/Stefanough/CodeEval' %>. </p>
    <p>Oh yeah, here's my <%= link_to 'profile', 'https://www.codeeval.com/profile/Stefanough/' %>
</section>

<ul class='compact-small'>
    <% gh_links('https://github.com/Stefanough/CodeEval', 'td.content a').each do |l| %>
        <% unless l[:name].include? '.' %>
            <li><a href=<%= l[:uri] %>><%= l[:name].gsub('_', ' ') %></a></li>
        <% end %>
    <% end %>
</ul>


<section class='exercises'>
    <p> Exercises completed on <%= link_to 'ProjectEuler', 'https://projecteuler.net/' %> and hosted on <%= link_to 'Github', 'https://github.com/Stefanough/project_euler_exercises/tree/master/projectEuler' %>. </p>
</section>

<ul class='compact-small'>
    <% gh_links('https://github.com/Stefanough/project_euler_exercises/tree/master/projectEuler', 'td.content a').each do |l| %>
            <li><a href=<%= l[:uri] %>><%= l[:name].gsub('.js', '') %></a></li>
    <% end %>
</ul>
